#queue-list-container {
   flex-shrink: 1;
   min-height: 0;
   max-height: 50vh;
}

#song-information-container {
   flex: 1;
   align-self: center;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: flex-start;
}

#song-information-container div {
   flex: 0;
   height: 50px;
   
   display: flex;
   align-items: center;
   gap: 5px;
}

#song-information-container div input {
   flex: 1;
   width: 30vw;
   margin-top: 1em;
}

#song-information-container button {
   flex: 0;
   margin-top: 0.5em;
   width: 40vw;
}

#song-information-container input {
   flex: 0;
   margin-top: 1em;
   width: 50vw;
}

#song-information-container div button {
   flex: 1;
   width: 25vw;
}

#clear-queue {
   flex: 0 1em;
   margin-top: 1em;
   width: fit-content;
   align-self: center;
   margin-top: auto;
}

#chat-container {
   flex: 0 10vh;
   align-self: flex-end;
   justify-self: flex-end;
   margin-top: auto;
}

#chat-box {
   max-height: 10vh;
   min-height: 2em;
   margin: 0;
   color: black;
}

#chat-box p {
   line-height: .75em;
}