#queue-list-container {
   flex-shrink: 1;
   min-height: 0;
   max-height: 50vh;
}

#song-information-container {
   flex: 1;
   padding-top: 1em;
   /*
   padding-top: 1em;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   */
}

#delete-queue {
   flex: 0 1em;
   margin-top: 1em;
   width: fit-content;
   align-self: center;
}

#chat-container {
   flex: 0 10vh;
   align-self: center;
}

#chat-box {
   max-height: 10vh;
   margin: 0;
   color: black;
}

#chat-box p {
   line-height: .75em;
}